{% set container_cls = ["form-group"] | merge(error ? ["has-error", "has-feedback"] : []) | merge(cls) %}
<div class="{{container_cls|join(' ')}}">
{% if label is defined %}
	<label class="form-label" for="{{id}}">{{ label }}</label>
{% endif %}
{% set cls_ = ["form-control"] | merge( error ? ["is-invalid"] : []) %}
<input type="{{type}}" id="{{id}}" name={{name}} 
{% if placeholder is defined %}placeholder="{{placeholder}}"{% endif %} {{ html_attr(attrs) }} 
class="{{ cls_ | join(" ") }}"
>
{%if error %}{% include 'field-errors' %}{%endif%}

</div>