{% set container_cls = ["form-group"] | merge(error ? ["has-error", "has-feedback"] : []) | merge(cls) %}

<div class="{{container_cls|join(' ')}}">
{% if label %}
	<label class="form-label" for="{{id}}">{{ label }}</label>
{% endif %}

{% set cls_ = ["form-select"] | merge( error ? ["is-invalid"] : []) %}
<select id="{{id}}" name={{name}} class="{{cls_|join(' ')}}" {% if placeholder %}placeholder={{placeholder}}{% endif %} {{html_attr(attr)}}>
{% for option in options %}
<option value="{{option.value}}" {% if option.selected %}selected="selected"{% endif %}>{{option.label}}</option>
{% endfor %}
</select>

{%if error %}{% include 'field-errors' %}{% endif %}

</div>